@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cinemark</h1>
    <marquee> Bienvenido</marquee>
    <marquee direction="right"
             behavior="alternate"
             style="border:BLACK 2px SOLID">
        No importa lo lento que vayas, siempre y cuando no te detengas 😊
    </marquee>
</div>
