@{
    ViewBag.Title = "Home Page";
}


<div class="card">

    <div class="card-body">
        <img src="~/Content/img/la mejor imagen.jpg" class="float-left" width="1050" height="540" style="padding:20px" />
    </div>
</div>


