
@{
    Layout = null;
}

<!DOCTYPE html>


<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>INSPINIA | Login</title>

    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/css/animate.css" rel="stylesheet">
    <link href="~/Content/css/style.css" rel="stylesheet">
    <style>
        body {
            background-image: url('../../Content/img/gallery/exhibicion-sala-cine-sostenible.jpg');
            background-size: cover;
        }
    </style>
</head>

<body>

    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div div class="card text-white bg-light mb-3" style="width:350px ">
            <div class="parche">
                <h3 style="color:black">Welcome to 𝒞𝒾𝓃𝑒 𝓅𝓁𝓊𝓈</h3>
                <p>
                    <img src="~/Content/img/gallery/piupiu.png" style="height: 275px">
                    <!--Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.-->
                    <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
                </p>
                <p style="color:black">Registrate para entrar</p>
                <form class="m-t" role="form" action="@Url.Action("Login","Home")" method="post" style="border:medium">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Username" name="txtUser">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" name="txtContra">
                    </div>
                    <p style="color:red;">@Html.ValidationMessage("ErrorLogin")</p>


                    <button type="submit" class="btn btn-success">Entrar</button>

                </form>
                <p class="m-t"> <small style="color:black">No importan las mentiras que digas, no puedes engañar a tu propio corazón. &copy; 2024</small> </p>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/Content/js/jquery-3.1.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.js"></script>

</body>

</html>